[Unit]
Description=goweb 9090
[Service]
Type=simple
Restart=always
RestartSec=5s
EnvironmentFile=/home/selman/web/selman.com/public_html/.env
ExecStart=/home/selman/web/selman.com/public_html/main
WorkingDirectory=/home/selman/web/selman.com/public_html/

[Install]
WantedBy=multi-user.target" 
